body{
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}
.header{
    margin-left: -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 101vw;
    border-bottom: 5px solid blue;
}
.titleWrapper{
        margin-top: 13px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo{
    width: 75px;
    height: 75px;
}
.textWrapper{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.company{
    margin-top: -5px;
    font-size: 40px;
}
.motto{
    margin-left: 5px;
    margin-top: -25px;
    font-size: 18px;
}
.emptySpacer{
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn{
    margin-top: 15px;
    background: none;
    border: none;
    /*border-radius: 5px;*/
    /*width: 75px;*/
    font-size: 18px;
    color: black;
    padding: 5px;
    text-decoration: underline;
}
.btn:hover{
    cursor: pointer;
}
h2{
    margin-top: 50px;
    /*width: 100vw;*/
    text-align: center;
}
.wrapper{
     display: flex;
    flex-direction: row;
    justify-content: center;
}
.fileWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
}
.file_container{
    margin-top: 50px;
    border-collapse: collapse;
     display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid whitesmoke;
    width: 100%;
    border-radius: 15px 15px;
    padding-top: 10%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /*width: 50%;*/
}
aside{
    width: 50%;
}
.button{
    font-family: 'Playfair Display', serif;
    /*width: 50px;*/
    border: none;
    background: none;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: #551A96;

}
h4{
    /*font-size: 18px;*/
    margin-top: -15px;
}