body{
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}
.header{
    margin-left: -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 101vw;
    border-bottom: 5px solid blue;
}
.titleWrapper{
        margin-top: 13px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo{
    width: 75px;
    height: 75px;
}
.textWrapper{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.company{
    margin-top: -5px;
    font-size: 40px;
}
.motto{
    margin-left: 5px;
    margin-top: -25px;
    font-size: 18px;
}
.emptySpacer{
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn{
    margin-top: 15px;
    background: none;
    border: none;
    /*border-radius: 5px;*/
    /*width: 75px;*/
    font-size: 18px;
    color: black;
    padding: 5px;
    text-decoration: underline;
}
.btn:hover{
    cursor: pointer;
}
h2{
    margin-top: 50px;
    width: 100vw;
    text-align: center;
    padding: 15px;
}
.wrapper{
     display: flex;
    flex-direction: row;
    justify-content: center;
}
table{
    /*margin-top: 50px;*/
    border-collapse: collapse;
     display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid whitesmoke;
    /*width: 60%;*/
    border-radius: 15px 15px;
    padding: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    /*width: 50%;*/
}
th{
    /*height: 10px;*/
    font-size: 20px;
}
tr{
    width: 100%;
}
th, td{
    border: 1px solid silver;
    text-align: center;
    padding: 0 15px 0px 15px;
}
aside{
    width: 20%;
}
.amp{
        margin-top: 60px;
    display: flex;
    justify-content: center;
}
.button-is-primary{
    /*background-color: blue;*/
    /*border: 1px solid black;*/
    border-radius: 5px;
    /*width: 75px;*/
    font-size: 24px;
    color: black;
    padding: 5px;
    margin-left: -15vw;

}
.button{
    --background:#2b3044
}