{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standard File Transfer Company</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/download_v1.css' %}" rel="stylesheet">
      <link rel="icon" href="{%  static 'img/icons_form_100x100.png' %}" type="image/gif" sizes="100x100">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="titleWrapper">
        <img src="{% static 'img/logo_form.png' %}" class="logo" alt="Logo of a form.">
        <div class="textWrapper">
    <h1 class="company">Standard File Transfer Company</h1>
            <h4 class="motto">Specializing in Data Handling</h4>
            </div>
    </div>
</header>
<div class="emptySpacer">
    <form action="/" target="_self" method="post">
        {% csrf_token %}
        <button class="btn" type="submit">Home</button>
    </form>
        <form action="upload_files.html" target="_self" method="post">
        {% csrf_token %}
            <button class="btn" type="submit">Upload a File</button>
    </form>
</div>
<div class="container mt-5">
    <h2 class="text-info">All Available Files</h2>
</div>
<div class="wrapper">
<table class="container mt-5">
        <tr>
            <th>Title</th>
            <th>Download</th>
        </tr>
    {% for i in files %}
        <tr>
            <td><h4>{{ i.file.name }}</h4></td>
            <td> <a href="{{ i.file.url }}" download>Click Here</a></td>
        </tr>
    {% endfor %}
</table>
</div>
</body>
</html>